video#bgvid {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background: url(/appData/videos/CloudFly.jpg) no-repeat;
background-size: cover;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, main, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  
}
video { display: block; }

@media screen and (max-device-width: 800px) {
body { background: url(/appData/videos/CloudFly.jpg) #000 no-repeat center center fixed; }
#bgvid { display: none; }
}
.main-header {
    text-align: center;
}
/*@*style="width: 1900px;height: 387px; overflow: hidden !important"*@*/
/*JEZU PO 3 TYGODNIACH ODNALAZLEM WLASCIWA KONFIGURACJE JEDNAK O 2 w NOCY MOZNA COS JESZCZE ZROBIC*/ 
.imageContainer {
    margin: 0; 
    height: 387px; /* change it to your value*/
    width: 100%; /* or use fixed width*/
    background: transparent url('') no-repeat center;
    overflow: hidden; 
}
.imageContainerMyFooter {
    margin: 0; 
    height: 630px; /* change it to your value*/
    width: 100%; /* or use fixed width*/
    background: transparent url('') no-repeat center;
    overflow: hidden; 
}

/*NAVBAR*/
.menu {
    position: absolute;
    z-index: 9999;
    top:458px;
    width:100%;
}
.fixed {
    position:fixed;
    top:0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.7);
}

/*.ng-hide {
  display: block!important;
  position: absolute;
  top: -9999px;
  left: -9999px;
}*/


/*navbar style*/ 

.app-bar.myDarcula {
    background-color: transparent;
}
.app-bar.myDarcula .app-bar-element:hover,
.app-bar.myDarcula .app-bar-menu > li:hover,
.app-bar.myDarcula .app-bar-menu > li > a:hover,
.app-bar.myDarcula .app-bar-element:active,
.app-bar.myDarcula .app-bar-menu > li:active,
.app-bar.myDarcula .app-bar-menu > li > a:active {
  background-color: #1d1d1d;
}
.app-bar.myDarcula .app-bar-divider {
  background-color: #616162;
}
.app-bar.myDarcula .app-bar-element .d-menu,
.app-bar.myDarcula .app-bar-menu > li .d-menu {
    background-color: rgba(0, 0, 0, 0.7);
  border-color: transparent;
}
.app-bar.myDarcula .app-bar-element .d-menu li:not(.disabled) > a,
.app-bar.myDarcula .app-bar-menu > li .d-menu li:not(.disabled) > a,
.app-bar.myDarcula .app-bar-element .d-menu li > a,
.app-bar.myDarcula .app-bar-menu > li .d-menu li > a {
    background-color: transparent;
  color: #ffffff;
}
.app-bar.myDarcula .app-bar-element .d-menu li:not(.disabled) > a:hover,
.app-bar.myDarcula .app-bar-menu > li .d-menu li:not(.disabled) > a:hover,
.app-bar.myDarcula .app-bar-element .d-menu li > a:hover,
.app-bar.myDarcula .app-bar-menu > li .d-menu li > a:hover {
  background-color: #1d1d1d;
  color: #ffffff;
}
.app-bar.myDarcula .app-bar-element .d-menu li:hover > a,
.app-bar.myDarcula .app-bar-menu > li .d-menu li:hover > a {
  background-color: #1d1d1d;
}
.app-bar.myDarcula .app-bar-element .d-menu .divider,
.app-bar.myDarcula .app-bar-menu > li .d-menu .divider {
  background-color: #616162;
}
.app-bar.myDarcula .app-bar-element .d-menu .divider:hover,
.app-bar.myDarcula .app-bar-menu > li .d-menu .divider:hover {
  background-color: #616162;
}
.app-bar.myDarcula .app-bar-element .dropdown-toggle:before,
.app-bar.myDarcula .app-bar-menu li .dropdown-toggle:before {
  border-color: #ffffff;
}
.app-bar.myDarcula .app-bar-element.disabled,
.app-bar.myDarcula .app-bar-menu li.disabled,
.app-bar.myDarcula .app-bar-element:disabled,
.app-bar.myDarcula .app-bar-menu li:disabled {
  color: #555555;
}
.app-bar.myDarcula .app-bar-element.disabled a,
.app-bar.myDarcula .app-bar-menu li.disabled a,
.app-bar.myDarcula .app-bar-element:disabled a,
.app-bar.myDarcula .app-bar-menu li:disabled a {
  color: inherit !important;
}
.app-bar.myDarcula .app-bar-pullbutton:hover {
  background-color: #1d1d1d;
}
.app-bar.myDarcula .app-bar-drop-container {
    border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.9);
    color: black;
}
.app-bar.myDarcula .app-bar-drop-container:before {
  background-color: #3c3f41;
  border-color: #3c3f41;
}
.app-bar.myDarcula .app-bar-pullmenu .app-bar-menu {
  border-top: 1px solid #616162;
  background-color: rgba(0, 0, 0, 0.7);
}
.app-bar.myDarcula .app-bar-pullmenu .app-bar-menu li:hover {
  background-color: #3c3f41;
}
.app-bar.myDarcula .app-bar-pullmenu .app-bar-menu li:hover a {
  background-color: #1d1d1d;
  color: #ffffff;
}


