<header class="main-header">
    <h1>
        <a href="#/">
            <!--<img class='rotator animation' src="/appData/images/logo/BigBLogoLightR.png" style="width: 150px; height: 150px; margin-bottom: -20px; margin-top: -10px"/>-->
            <img src="/appData/images/logo/BigBLogoLightR.png" style="width: 150px; height: 150px; margin-bottom: -20px; margin-top: -10px"/>
        </a>
    </h1>
    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="imageContainer" style="background-image: url(/appData/images/header/23nR.png);z-index: 2">
        <div data-ng-hide="!authentication.isAuth" style="color: white; text-align: center; margin-top: 300px; font-weight: bold">
            {{translation.HaveFun}} {{authentication.userName}}
        </div>
    </div>

    <div class="menu">
        <div class="container">
            <div class="app-bar myDarcula" data-role="appbar">
                <ul class="app-bar-menu">
                    <!--HOME-->
                    <li data-flexorderorigin="0" data-flexorder="0" class="">
                        <a style="text-decoration: none ; color: darkorchid;font-weight:bold" href="#/home"><span class="mif-home mif-ani-heartbeat"></span>{{translation.Home}}</a>
                    </li>
                    <!--LANGUAGES-->
                    <li data-flexorderorigin="1" data-flexorder="2" class="">
                        <label style="text-decoration: none; color:crimson" href="" class="dropdown-toggle"><span class="mif-bubble mif-ani-float"></span>{{translation.Language}}</label>
                        <ul class="d-menu" data-role="dropdown">
                            <li ng-repeat="language in languages">
                                <a ng-class="{true : 'mif-checkmark',false: ''}[language.id==selectedLanguage]" href="" ng-model="language.id" ng-click="translate(language.id)"><span ng-class="{true : 'myMarginLeft3px',false: ''}[language.id==selectedLanguage]"></span> {{language.languageName}}</a>
                            </li>
                        </ul>
                    </li>
                    <!--TOOLS-->
                    <li data-ng-hide="authentication.userName != 'Admin'" data-flexorderorigin="3" data-flexorder="4" class="">
                        <label style="text-decoration: none;" href="" class="dropdown-toggle"><span class="mif-wrench mif-ani-spanner"></span>{{translation.Tools}}</label>
                        <ul class="d-menu" data-role="dropdown" style="display: none;">
                            <li>
                                <a href="" style="color:#ffffff !important;" class="dropdown-toggle">{{translation.ManagementGames}}</a>
                                <ul class="d-menu" data-role="dropdown">
                                    <li><a href="#/managementIntegrationGames">{{translation.ManagementGames}}</a></li>
                                    <li><a href="#/editGameFeatures">{{translation.ManagementIntegrationGameFeatures}}</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="" style="color:#ffffff !important;" class="dropdown-toggle">{{translation.ManagementJokes}}</a>
                                <ul class="d-menu" data-role="dropdown">
                                    <li><a href="#/managementJokes">{{translation.ManagementJokes}}</a></li>
                                    <li><a href="#/managementJokeCategories">{{translation.ManagementJokeCategories}}</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#/managementLanguages">{{translation.ManagementLanguages}}</a>
                            </li>
                            <li>
                                <a href="#/tokens">{{translation.ManagementAccounts}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!--SEARCH-->
                <div class="app-bar-element">
                    <label style="text-decoration: none; color: darkorange" href="" class="dropdown-toggle"><span class="mif-search mif-ani-pulse"></span>{{translation.Search}}</label>
                    <div class="app-bar-drop-container place-left" data-role="dropdown" data-no-close="true">
                        <div class="padding20">
                            <!--<div ng-include src="'/app/search/search.html'"></div>-->

                            <div data-ng-controller="searchController" style="z-index: 2">
                                <!--INTEGRATION GAMES-->
                                <div ng-show="filterDependingOnLocation == 'showGamesFilter'">
                                    <input type="text" class="form-control myFormColor" style="border: none !important" ng-change="applyIntegrationGamesFilter()" data-ng-model="integrationGamesSearchParams.gameName" placeholder={{translation.GameName}}>
                                    <div ng-repeat="feature in gameFeatures">
                                        <h3 style="clear: both; display: inline-block; white-space: nowrap;">{{feature.gameFeatureName}}</h3>
                                        <select class="form-control myFormColor" style="border: none !important" ng-change="applyIntegrationGamesFilter()" data-ng-model="integrationGamesSearchParams.integrationGameDetailModels[$index]" data-ng-options="gfdm.gameFeatureDetailName for gfdm in feature.gameFeatureDetailModels">
                                            <option value="">{{translation.PleaseSelectGame}}</option>
                                        </select>
                                    </div>
                                </div>
                                <!--JOKES-->
                                <div ng-show="filterDependingOnLocation == 'showJokesFilter'">
                                    <h1 style="clear: both; display: inline-block; white-space: nowrap;">Kawały</h1>
                                    <input type="text" class="form-control myFormColor" style="border: none !important" ng-change="applyJokesFilter()" data-ng-model="jokesSearchParams.jokeContent"/>
                                    <select class="form-control myFormColor" style="border: none !important" ng-change="applyJokesFilter()" data-ng-model="jokesSearchParams.jokeCategoryId" data-ng-options="jk.id as jk.jokeCategoryName for jk in jokeCategories">
                                        <option value="">{{translation.SelectCategoryForJoke}}</option>
                                    </select>
                                </div>
                                <div ng-show="filterDependingOnLocation == ''">
                                    <div class="margin100">
                                        Siema test 
                                    </div>
                                </div>
                            </div>
                            <ul class="bg-bubbles">
                                <li>gjkfgjsdlfg</li>
                                <li>gjkfgjsdlfg</li>
                                <li>gjkfgjsdlfg</li>
                                <li>gjkfgjsdlfg</li>
                                <li>gjkfgjsdlfg</li>
                                <li>gjkfgjsdlfg</li>
                                <li>gjkfgjsdlfg</li>
                                <li>gjkfgjsdlfg</li>
                                <li>gjkfgjsdlfg</li>
                                <li>gjkfgjsdlfg</li>
                            </ul>


                        </div>
                    </div>
                </div>
                <!--AUTHENTICATION-->
                <div data-ng-hide="!authentication.isAuth" class="app-bar-element place-right">
                    <label style="text-decoration: none;color: chartreuse" data-ng-click="logOut()">
                        <span style="" class="mif-exit mif-ani-shuttle"></span>{{translation.LogOut}}
                    </label>
                </div>

                <div data-ng-hide="authentication.isAuth" class="app-bar-element place-right">
                    <label style="text-decoration: none;color: chartreuse" class="dropdown-toggle"><span class="mif-enter mif-ani-shuttle"></span>{{translation.Login}}</label>
                    <div class="app-bar-drop-container place-right" data-role="dropdown" data-no-close="true">
                        <div>
                            <div class="padding20" ng-include src="'/app/authorizations/authentication.html'"></div>
                            <ul class="bg-bubbles">
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="app-bar-pullbutton automatic" style="display: none;"></div><div class="clearfix" style="width: 0;"></div><nav class="app-bar-pullmenu hidden flexstyle-app-bar-menu" style="display: none;"><ul class="app-bar-pullmenubar app-bar-menu hidden" style="display: none;"></ul></nav>
            </div>
        </div>
    </div>
</header>
