<div class="container">
    <h1 style="margin-bottom:20px">{{translation.ManagementJokeCategories}}</h1>

    <div class="col-md-4">
        <div ng-hide="selectedJokeCategory != ''" class="formAni">
            <!--NEW JOKE CATEGORY-->
            <h2 style="text-align:left">{{translation.AddJokeCategory}}</h2>
            <input type="text" class="form-control myFormColor" required data-ng-model="newJokeCategory.CategoryName" placeholder={{translation.CategoryName}} autofocus />

            <!--INSERT JOKE CATEGORY-->
            <div style="text-align: center">
                <button class="btn btn-default btn-block" type="submit" ng-click="addJokeCategory(newJokeCategory.CategoryName,selectedLanguage)" ng-disabled="newJokeCategory.CategoryName == null"><span class="mif-checkmark"></span> {{translation.SaveCategory}}</button>
            </div>
        </div>
        <div ng-hide="selectedJokeCategory == ''" class="formAni">
            <h2 style="text-align:left">{{translation.EditJokeCategory}}</h2>
            <!--EDIT SELECTED JOKE CATEGORY-->
            <input type="text" class="form-control myFormColor" required data-ng-model="selectedJokeCategory.JokeCategoryName" placeholder={{translation.CategoryName}} autofocus />

            <!--SAVE SELECTED JOKE CATEGORY-->
            <div style="text-align: center">
                <button class="btn btn-success btn-block" type="submit" ng-click="editJokeCategory(selectedJokeCategory)" ng-disabled="selectedJokeCategory.JokeCategoryName == null"><span class="mif-checkmark"></span> {{translation.SaveCategory}}</button>
            </div>
            <!--DELETE SELECTED JOKE CATEGORY-->
            <div style="text-align: center">
                <button class="btn btn-danger btn-block" type="submit" ng-click="deleteDialog()" ng-disabled="selectedJokeCategory.JokeCategoryName == null"><span class="mif-checkmark"></span> {{translation.DeleteJokeCategory}}</button>
            </div>
        </div>
        
    </div>
    <!--NEW TRANSLATION OR EDIT SELECTED TRANSLATION-->
    <div class="col-md-4">
        <div ng-hide="selectedJokeCategory == ''">
            <h2 style="text-align:left">{{translation.OtherTranslationForTheCurrentlySelectedJokeCategoryAndLanguage}}</h2>

            <select id="language" ng-change="getTranslationForJokeCategory()" class="form-control myFormColor" required data-ng-model="languageForOtherTranslation" data-ng-options="language.LanguageName + '   :   ' + language.LanguageShortName for language in languages | filterByIdTakeWhenNotExists : selectedLanguage">
                <option value=''>{{translation.SelectLanguageForTheJokeCategory}}</option>
            </select>

            <div ng-hide="languageForOtherTranslation == null" class="formAni">
                <form name="otherJokeCategoryTranslation">
                    <input type="text" class="form-control myFormColor" required data-ng-model="selectedJokeCategoryTranslation.JokeCategoryName" placeholder={{translation.CategoryName}} />                    
                </form>
                <div style="text-align: center">
                    <!--TRANSLATE JOKE CATEGORy-->
                    <button ng-click="translateJokeCategory(selectedJokeCategory,languageForOtherTranslation)" class="btn btn-primary btn-block"><span class="mif-cloud-download mif-2x">{{translation.Translate}}</span></button>
                    <!--SAVE TRANSLATION-->
                    <button class="btn btn-success btn-block" type="submit" ng-click="saveOtherJokeCategoryTranslation()" ng-disabled="otherJokeCategoryTranslation.$invalid"><span class="mif-checkmark"></span> {{translation.SaveTranslation}}</button>
                    <!--DELETE TRANSLATION-->
                    <button class="btn btn-danger btn-block" type="submit" ng-click="deleteTranslationDialog()" ng-disabled="selectedJokeCategoryTranslation.JokeCategoryId == null"><span class="mif-checkmark"></span> {{translation.DeleteTranslation}}</button>
                </div>
            </div>

        </div>
    </div>
    <!--JOKE CATEGORIES LIST-->
    <div class="col-md-4">
        <h2 style="text-align:left">{{translation.ListOfJokeCategoryIncludesAvailableTranslation}}</h2>
        <div ng-repeat="jokeCategory in jokeCategories | startFrom:currentPage*pageSize | limitTo:pageSize">
            <div class="myFormColor" ng-class="{selectedTransparent_hover : hover || selectedJokeCategory.Id == jokeCategory.Id}" ng-mouseenter="hover=true" ng-mouseleave="hover=false" ng-click="setJokeCategory(jokeCategory)">
                {{jokeCategory.JokeCategoryName}}
                <div>
                    <div ng-repeat="al in jokeCategory.JokeCategoryTranslations" class="inline-block">
                        <div>
                            <h5>
                                <span style="margin-left: 4px" ng-class="al.HasTranslation ? 'label label-success' : 'label label-danger'">{{al.Language.LanguageShortName}}</span>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--PAGER CONTROL-->
        <div class="text-center">
            <nav>
                <ul class="pager">
                    <li ng-hide="currentPage==0" ng-click="currentPage=currentPage-1"><a href="">{{translation.Previous}}</a></li>
                    <li ng-hide="numberOfPages() == 0">{{currentPage+1}}/{{numberOfPages()}}</li>
                    <li ng-hide="currentPage >= jokeCategories.length/pageSize - 1;" ng-click="currentPage=currentPage+1"><a href="">{{translation.Next}}</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!--USER NOTIFICATION--> 
    <div data-role="dialog" id="deleteDialog" class="text-center dialog alert" data-close-button="true" data-type="alert">
        <h1>{{translation.DeleteJokeCategory}} :</h1>
        <h1>{{selectedJokeCategory.JokeCategoryName}}</h1>
        <div>
            <button class="btn btn-warning" ng-click="deleteJokeCategory(selectedJokeCategory,false)" ng-disabled="selectedJokeCategory == ''">{{translation.RemoveMainTranslation}}</button>
            <button class="btn btn-danger" ng-click="deleteJokeCategory(selectedJokeCategory,true)" ng-hide="selectedJokeCategory == '' || countJokeCategoryTranslation(selectedJokeCategory) < 2">{{translation.RemoveAllTranslation}}</button>
        </div>
        <span class="dialog-close-button"></span>
    </div>
    <div data-role="dialog" id="deleteTranslationDialog" class="text-center dialog alert" data-close-button="true" data-type="alert">
        <h1>{{translation.RemoveJokeCategoryTranslation}} :</h1>
        <h1>{{selectedJokeCategoryTranslation.JokeCategoryName}}</h1>
        <div>
            <button class="btn btn-warning" ng-click="deleteTranslation(selectedJokeCategoryTranslation)" ng-disabled="selectedJokeCategoryTranslation.JokeCategoryId == ''">{{translation.Delete}}</button>
        </div>
        <span class="dialog-close-button"></span>
    </div>
</div>





