<div class="container">
    <h1>{{translation.Jokes}}</h1>
    <div class="row" style="bottom: -100px; top: 50px">
        <div ng-repeat="joke in filtered = (jokes | filter:search | startFrom:(currentPage -1)*entryLimit | limitTo:entryLimit)">
            <div class="animatedParent col-md-12" style="margin-bottom: 60px" >
                <h3 class="animated lightSpeedInLeft go">
                    {{joke.jokeContent}}
                </h3>           
            </div>
        </div>
    </div>
    <!--PAGER CONTROL-->
    <div class="row" ng-show="(jokes |filter:search).length / entryLimit > 1">
        <uib-pagination ng-change="pageChanged()" style="display: inline-block; position: relative;top:71px; z-index: 3;" direction-links="false" max-size="maxSize" ng-model="currentPage" total-items="(jokes |filter:search).length" items-per-page="entryLimit" num-pages="noOfPages" rotate="false"></uib-pagination>
        <uib-pager ng-change="pageChanged()" style="position: relative;" total-items="(jokes |filter:search).length" max-size="maxSize" ng-model="currentPage" items-per-page="entryLimit" num-pages="noOfPages"></uib-pager>
    </div>
</div>