<div class="container">
    <div ng-repeat="g in integrationGames">
        <div class="col-md-6">          
            <h1>{{g.gameName}}</h1>
            <p>{{g.gameDetails}}</p>
            <p></p>
            <p>{{translation.GameCategory}} : {{g.gameCategory}}</p>
            <p>{{translation.PaceOfPlay}} : {{g.paceOfPlay}}</p>
            <p>{{translation.PreparationFun}} : {{g.preparationFun}}</p>
            <p>{{translation.NumberOfPlayer}} : {{g.numberOfPlayer}}</p>
        </div>
    </div>
</div>
