<div data-ng-controller="authSwitchController">
    <div ng-show="!registration" class="{{ asPageClass }} authAni">
        <form role="form" data-ng-controller="loginController">
            <h1>{{translation.Login}}</h1>
            <div class="input-control modern text iconic" data-role="imput">
                <input type="text" data-ng-model="loginData.userName">
                <span class="label">{{translation.YourLogin}}</span>
                <span class="informer">{{translation.EnterYourLogin}}</span>
                <span class="placeholder">{{translation.YourLogin}}</span>
                <span class="icon mif-user"></span>
            </div>

            <div class="input-control modern password iconic" data-role="input">
                <input type="password" data-ng-model="loginData.password">
                <span class="label">{{translation.YourPassword}}</span>
                <span class="informer">{{translation.EnterYourPassword}}</span>
                <span class="placeholder">{{translation.YourPassword}}</span>
                <span class="icon mif-lock"></span>
            </div>
            <div style="margin-top: 10px">
                <button class="btn btn-md btn-info btn-block" type="submit" data-ng-click="login()">{{translation.Login}}</button>
                <div data-ng-hide="message == ''" class="alert alert-danger">
                    {{message}}
                </div>
            </div>

            <h4>{{translation.SocialLogins}}</h4>
            <div class="inline-block">
                <button class="btn btn-facebook" type="button" data-ng-click="authExternalProvider('Facebook')"><span class="mif-facebook mif-ani-heartbeat"></span>Facebook</button>
                <button class="btn btn-google-plus" type="button" data-ng-click="authExternalProvider('Google')"><span class="mif-google-plus mif-ani-shuttle"></span>Google+</button>
            </div>
            <!--<div class="checkbox">
                <label>
                    <input type="checkbox" data-ng-model="loginData.useRefreshTokens"><strong>{{translation.URT}}</strong>
                </label>
            </div>-->
        </form>
    </div>

    <div ng-show="registration" class="{{ asPageClass }} authAni">
        <form role="form" data-ng-controller="signupController">
            <h1 class="form-login-heading">{{translation.Register}}</h1>

            <div class="input-control modern text iconic">
                <input type="text" data-ng-model="registration.userName" required>
                <span class="label">{{translation.YourLogin}}</span>
                <span class="informer">{{translation.EnterYourLogin}}</span>
                <span class="placeholder">{{translation.YourLogin}}</span>
                <span class="icon mif-user "></span>
            </div>

            <div class="input-control modern password iconic" data-role="input">
                <input type="password" data-ng-model="registration.password" required>
                <span class="label">{{translation.YourPassword}}</span>
                <span class="informer">{{translation.EnterYourPassword}}</span>
                <span class="placeholder">{{translation.YourPassword}}</span>
                <span class="icon mif-lock"></span>
            </div>

            <div class="input-control modern password iconic" data-role="input">
                <input type="password" data-ng-model="registration.confirmPassword" required>
                <span class="label">{{translation.ConfirmPassword}}</span>
                <span class="informer">{{translation.PleaseConfirmYourPassword}}</span>
                <span class="placeholder">{{translation.ConfirmPassword}}</span>
                <span class="icon mif-lock"></span>
            </div>
            <div style="margin-top: 10px">
                <button class="btn btn-md btn-info btn-block" type="submit" data-ng-click="signUp()">{{translation.Submit}}</button>
                <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                    {{message}}
                </div>
            </div>
        </form>

    </div>
    <form>
        <div ng-hide="!registration">
            <div class="inline-block">
                <button class="btn btn-success" type="button" data-ng-click="joinUs()"><span class="mif-spinner4 mif-ani-spin"></span> {{translation.HaveAccount}} {{translation.SignIn}}</button>
            </div>
        </div>
        <div ng-hide="registration">
            <div class="inline-block">
                <button class="btn btn-success" type="button" data-ng-click="joinUs()"><span class="mif-spinner4 mif-ani-spin"></span> {{translation.NewHere}} {{translation.JoinUs}}</button>
            </div>
        </div>
    </form>
</div>