<div class="container">
    <div class="col-md-6">
        <!--LANG FOR INTEGRATION GAMES-->
        <h1>{{translation.GameFeatures}}</h1>
        <div class="inline-block">
            <label for="language">{{translation.Language}}</label>
            <select id="language" class="form-control myFormColor" ng-init="gameFeature.language = languages[selectedLanguage - 1]; getGameFeatures(gameFeature.language.Id)" required data-ng-model="gameFeature.language" data-ng-change="getGameFeatures(gameFeature.language.Id)" data-ng-options="language.LanguageName for language in languages">
                <option value=''>{{translation.ChooseLanguage}}</option>
            </select>
        </div>
        <!--GAME FEATURES-->
        <div class="margin10" ng-show="gameFeatures == ''">
            <button ng-click="createGameFeatures(gameFeature.language.Id)" class="btn btn-success"><span class="mif-checkmark"></span> {{translation.CreateFeatures}}</button>
        </div>
        <div ng-hide="gameFeature.language == null || gameFeatures == ''">
            <h4 style="margin-bottom: 10px; text-align: left" ng-hide="gameFeatures[0].gameFeatureTemplateName == null">
                {{translation.FeatureDescription}}
            </h4>
            <div class="has-error">
                <div class="checkbox">
                    <label style="font-weight: bold">
                        <input required data-ng-model="required1.val1" value="{{required1.val}}" type="checkbox" id="checkboxWarning"/>
                        {{translation.IKnowWhatIAmDoing}}
                    </label>
                </div>
            </div>
            <!--TRANSLATE-->
            <div class="margin10" ng-hide="gameFeatures[0].gameFeatureTemplateName == null">
                <button ng-disabled ="required1.val1 == null" ng-click="translateGameFeatures(gameFeature.language,gameFeatures)" class="btn btn-primary"><span class="mif-cloud-download mif-2x">{{translation.Translate}}</span></button>
            </div>
            <div ng-repeat="gameFeature in gameFeatures" class="formAni">
                <div class="form-inline">
                    <form style="float: left" class="form-group" novalidate ng-submit="editGameFeature(gameFeature)">
                        <input ng-class="getClass(gameFeature.id,0)" ng-disabled="required1.val1 == null" type="text" class="form-control myFormColor" required data-ng-model="gameFeature.gameFeatureName" />
                        <button type="submit" ng-disabled="!gameFeature.gameFeatureName.length || required1.val1 == null" class="btn btn-danger">{{translation.Save}}</button>
                        <label ng-hide="gameFeature.gameFeatureTemplateName == null">
                            {{gameFeature.gameFeatureTemplateName}}
                        </label>
                    </form>
                </div>
            </div>            
        </div>
    </div>
    <div class="col-md-6">
        <!--GAME FEATURES DETAIL SELECT-->
        <h1>{{translation.FeaturesDetails}}</h1>
        <div class="inline-block">
            <label for="details">{{translation.Details}}</label>
            <select id="details" class="form-control myFormColor" data-ng-model="gameFeature.featureId" data-ng-options="gameFeature.id as gameFeature.gameFeatureName for gameFeature in gameFeatures">
                <option value=''>{{translation.SelectDetail}}</option>
            </select>
        </div>

        <!--GAME FEATURES DETAILS-->
        <div ng-hide="gameFeature.language == null || gameFeature.featureId == null">
            <div class="has-error">
                <div class="checkbox">
                    <label style="font-weight: bold">
                        <input required data-ng-model="required2.val1" value="{{required1.val}}" type="checkbox"/>
                        {{translation.IKnowWhatIAmDoing}}
                    </label>
                </div>
            </div>
            <!--TRANSLATE-->
            <div class="margin10" ng-hide ="gameFeatureDetails[0].gameFeatureDetailTemplateName == null">
                <button ng-disabled ="required2.val1 == null" ng-click="translateGameFeaturesDetails(gameFeature.language,gameFeatureDetails)" class="btn btn-primary"><span class="mif-cloud-download mif-2x">{{translation.Translate}}</span></button>
            </div>
            <div class="formAni" ng-show="gameFeature.featureId > 0" ng-repeat="gameFeatureDetail in gameFeatureDetails | filter:{gameFeatureId : gameFeature.featureId} ">
                <div class="form-inline">
                    <form style="float: left" class="form-group" name="gfdForm{{gameFeatureDetail.Id}}" novalidate ng-submit="editGameFeatureDetail(gameFeatureDetail)">
                        <input ng-class="getClass(0,gameFeatureDetail.id)" ng-disabled="!gameFeatureDetail.gameFeatureDetailName.length || required2.val1 == null" type="text" class="form-control myFormColor" required data-ng-model="gameFeatureDetail.gameFeatureDetailName" />
                        <button class="btn btn-danger" ng-disabled="gfdForm{{gameFeatureDetail.Id}}.$invalid || !gameFeatureDetail.gameFeatureDetailName.length || required2.val1 == null">{{translation.Save}}</button>
                        <label ng-hide="gameFeatureDetail.gameFeatureDetailTemplateName == null">
                            {{gameFeatureDetail.gameFeatureDetailTemplateName}}
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

