<div class="container">
    <h1>{{translation.IntegrationGamesHeader}}</h1>
    <div class="row" style="bottom: -100px;top:50px">
        <div ng-repeat="g in filtered = (integrationGames | filter:search | startFrom:(currentPage -1)*entryLimit | limitTo:entryLimit)">
            <div class="animatedParent col-md-6">
                <h1 class="animated bounceIn">{{g.gameName}}</h1>
                <p class="animated lightSpeedInLeft go">{{g.gameDescription}}</p>
                <p></p>
                <div class="animated fadeInRight slow go" ng-repeat="gf in g.integrationGameDetailModels">
                    <p>{{gf.gameFeatureName}} : {{gf.gameFeatureDetailName}}</p>
                </div>
            </div>
        </div>
    </div>
    <!--PAGER CONTROL-->
    <div class="row">
        <uib-pagination ng-change="pageChanged()" style="display: inline-block; position: relative; bottom: -225px; z-index: 3;" direction-links="false" max-size="maxSize" ng-model="currentPage" total-items="(integrationGames |filter:search).length" items-per-page="entryLimit" num-pages="noOfPages" rotate="false"></uib-pagination>        
            <uib-pager ng-change="pageChanged()" style="position: relative; bottom: -160px;z-index: 2" total-items="(integrationGames |filter:search).length" max-size="maxSize" ng-model="currentPage" items-per-page="entryLimit" num-pages="noOfPages" ></uib-pager>
    </div>
</div>
