<div class="container">
    <h1 style="margin-bottom:20px">{{translation.ManagementGames}}</h1>
    <div class="col-md-4 formAni">
        <form name="saveGame">
            <div>
                <h2 style="text-align:left">{{translation.HomeTranslationBasedOnTheCurrentlySelectedLanguagePortal}}</h2>
                <input type="text" class="form-control myFormColor" required data-ng-model="selectedGame.gameName" placeholder={{translation.GameName}} />
                <textarea style="margin-top: 20px" class="form-control myFormColor" rows="16" required data-ng-model="selectedGame.gameDescription" placeholder={{translation.GameDetails}}></textarea>

                <!--GAME FEATURES-->
                <div ng-repeat="feature in gameFeatures">
                    <label>{{feature.gameFeatureName}}</label>
                    <select class="form-control myFormColor" required data-ng-model="selectedGame.integrationGameDetailModels[$index].gameFeatureDetailId" data-ng-options="gfdm.gameFeatureDetailId as gfdm.gameFeatureDetailName for gfdm in feature.gameFeatureDetailModels">
                        <option value=''>{{translation.PleaseSelectGame}}</option>
                    </select>
                </div>

                <!--SAVE GAME-->
                <div style="text-align: center">
                    <button class="btn btn-success btn-block" type="submit" ng-click="editGame(selectedGame)" ng-disabled="saveGame.$invalid"><span class="mif-checkmark"></span> {{translation.SaveGame}}</button>
                </div>

                <!--DELETE GAME-->
                <div style="text-align: center">
                    <button class="btn btn-danger btn-block" type="submit" ng-click="deleteDialog()" ng-disabled="selectedGame == ''"><span class="mif-checkmark"></span> {{translation.DeleteGame}}</button>
                </div>

            </div>
        </form>
    </div>

    <!--NEW TRANSLATION OR EDIT-->
    <div class="col-md-4">
        <div ng-hide="selectedGame == ''">
            <h2 style="text-align:left">{{translation.OtherTranslationForTheCurrentlySelectedGameAndLanguage}}</h2>

            <select id="language"ng-change="getTranslationForGame()" class="form-control myFormColor" required data-ng-model="languageForOtherTranslation.language.id" data-ng-options="language.id as language.languageName for language in languages | filter : {id: '!' + selectedGame.language.id}">
                <option value=''>{{translation.SelectLanguageForTheGame}}</option>
            </select>
            <div ng-hide="languageForOtherTranslation.language.id == null" class="formAni">
                <form name="otherGameTranslation">
                    <input type="text" class="form-control myFormColor" required data-ng-model="selectedGameOtherTranslation.gameName" placeholder={{translation.GameName}} />
                    <textarea style="margin-top: 20px" class="form-control myFormColor" rows="16" required data-ng-model="selectedGameOtherTranslation.gameDescription" placeholder={{translation.GameDetails}}></textarea>
                    <label style="margin-top:20px;margin-bottom:20px;text-align:left">{{translation.AutoCompleteGameFeaturesForLanguage}}</label>
                </form>
                <div style="text-align: center">
                    <!--TRANSLATE GAME-->
                    <button class="btn btn-default btn-block" ng-click=""><span class="mif-google-plus mif-ani-heartbeat"></span>{{translation.TranslateByGoogle}}</button>
                    <!--SAVE TRANSLATION-->
                    <button class="btn btn-success btn-block" type="submit" ng-click="saveOtherTranslation()" ng-disabled="otherGameTranslation.$invalid"><span class="mif-checkmark"></span> {{translation.SaveTranslation}}</button>
                    <!--DELETE TRANSLATION-->
                    <button class="btn btn-danger btn-block" type="submit" ng-click="deleteTranslationDialog()" ng-disabled="otherGameTranslation.$invalid"><span class="mif-checkmark"></span> {{translation.DeleteTranslation}}</button>
                </div>
            </div>

        </div>
    </div>

    <!--GAME LIST-->
    <div class="col-md-4">
        <h2 style="text-align:left">{{translation.ListOfGameIncludesAvailableTranslation}}</h2>
        <div ng-repeat="integrationGame in integrationGames | startFrom:currentPage*pageSize | limitTo:pageSize">
            <div class="myFormColor" ng-class="{selectedTransparent_hover : hover || selectedGame.id == integrationGame.id}" ng-mouseenter="hover=true" ng-mouseleave="hover=false" ng-click="setSelectGame(integrationGame)">
                {{integrationGame.gameName}}
                <div>
                    <div ng-repeat="al in integrationGame.gameTranslations" class="inline-block">
                        <div>
                            <h5>
                                <span style="margin-left: 4px" ng-class="al.hasTranslation ? 'label label-success' : 'label label-danger'"><span class={{al.language.languageFlag}}></span>{{al.language.languageShortName}}</span>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--PAGER CONTROL-->
        <div class="text-center">
            <nav>
                <ul class="pager">
                    <li ng-hide="currentPage==0" ng-click="currentPage=currentPage-1;goToTop()"><a href="">{{translation.Previous}}</a></li>
                    <li ng-hide="numberOfPages() == 0">{{currentPage+1}}/{{numberOfPages()}}</li>
                    <li ng-hide="currentPage >= integrationGames.length/pageSize - 1;" ng-click="currentPage=currentPage+1"><a href="">{{translation.Next}}</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div data-role="dialog" id="deleteDialog" class="text-center dialog alert" data-close-button="true" data-type="alert">
        <h1>{{translation.DeleteTheGame}} :</h1>
        <h1>{{selectedGame.gameName}}</h1>
        <div>
            <button class="btn btn-warning" ng-click="deleteGame(selectedGame,false)" ng-disabled="selectedGame == ''">{{translation.RemoveMainTranslation}}</button>
            <button class="btn btn-danger" ng-click="deleteGame(selectedGame,true)" ng-hide="selectedGame == '' || countGameTranslation(selectedGame) < 2">{{translation.RemoveAllTranslation}}</button>
        </div>
        <span class="dialog-close-button"></span>
    </div>
    <div data-role="dialog" id="deleteTranslationDialog" class="text-center dialog alert" data-close-button="true" data-type="alert">
        <h1>{{translation.RemoveGameTranslation}} :</h1>
        <h1>{{selectedGameOtherTranslation.gameName}}</h1>
        <div>
            <button class="btn btn-warning" ng-click="deleteGame(selectedGameOtherTranslation,false)" ng-disabled="selectedGameOtherTranslation == ''">{{translation.Delete}}</button>
        </div>
        <span class="dialog-close-button"></span>
    </div>
</div>





