<div class="container">
    <h1>{{translation.ManagementGames}}</h1>
    <div class="col-md-4">
        <form novalidate ng-submit="newGame(gameModel)">
            <div class="formAni">
                <input type="text" class="form-control" required data-ng-model="selectedGame.gameName" placeholder={{translation.GameName}}/>
                <textarea style="margin-top: 20px" class="form-control" rows="16" required data-ng-model="selectedGame.gameDescription" placeholder={{translation.GameDetails}}></textarea>

                <!--GAME FEATURES-->
                <div ng-repeat="feature in gameFeatures">
                    <label>{{feature.gameFeatureName}}</label>    
                    <select class="form-control" data-ng-model="templateGameModel.test" data-ng-options="fss.gameFeatureDetailName for fss in feature.gameFeatureDetailModels">
                        <option value=''>{{translation.PleaseSelectGame}}</option>
                    </select>
                </div>               

                <!--SAVE GAME-->
                <div style="text-align: center">
                    <button class="btn btn-primary btn-block" type="submit" ng-disabled="addGame.$invalid"><span class="mif-checkmark"></span> {{translation.AddGame}}</button>
                </div>
            </div>
        </form>
    </div>

    <!--NEW TRANSLATION OR EDIT-->
    <div class="col-md-4">
        
    </div>

    <!--GAME LIST-->
    <div class="col-md-4">
        <div ng-repeat="integrationGame in integrationGames | startFrom:currentPage*pageSize | limitTo:pageSize">
            <div class="row myFormColor" ng-class="{selectedTransparent_hover : hover || selectedGame.id == integrationGame.id}" ng-mouseenter="hover=true" ng-mouseleave="hover=false" ng-click="setSelectGame(integrationGame)">
                    {{integrationGame.gameName}}
                <div>
                    <div ng-repeat="al in integrationGame.gameTranslations" class="inline-block">
                        <div>
                            <h5>
                                <span style="margin-left: 4px" ng-class="al.hasTranslation ? 'label label-success' : 'label label-danger'"><span class={{al.language.languageFlag}}></span>{{al.language.languageShortName}}</span>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--PAGER CONTROL-->
        <div class="text-center">
            <nav>
                <ul class="pager">
                    <li ng-hide="currentPage==0" ng-click="currentPage=currentPage-1;goToTop()"><a href="">{{translation.Previous}}</a></li>
                    <li ng-hide="numberOfPages() == 0">{{currentPage+1}}/{{numberOfPages()}}</li>
                    <li ng-hide="currentPage >= integrationGames.length/pageSize - 1;" ng-click="currentPage=currentPage+1"><a href="">{{translation.Next}}</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>





