<div class="container">
    <div class="margin20">
        <h1>{{translation.ManagementVersions}}</h1>
    </div>
    <div class="row">
        <div class="col-xs-10 col-sm-4 col-md-4 col-md-offset-4 col-xs-offset-1 col-sm-offset-4">
            <label>{{translation.Language}}</label>
            <select id="language" class="form-control myFormColor" ng-init="languageForVersion = languages[selectedLanguage - 1]; getVersionDetailsForLanguage(languageForVersion)" data-ng-model="languageForVersion" data-ng-change="getVersionDetailsForLanguage(languageForVersion)" data-ng-options="language.LanguageName for language in languages">
                <option value=''>{{translation.ChooseLanguage}}</option>
            </select>
        </div>
    </div>
    <div class="col-md-6 formAni">
        <div class="formAni" style="margin-top: 20px; margin-bottom: 20px" ng-hide="languageForVersion == null">
            <div style="border: solid black" class="margin5">
                <div class="margin20">
                    <h2>{{translation.LanguageVersion}}</h2>
                    <table class="table table-striped table-bordered success">
                        <tr>
                            <th class="text-center">{{translation.Version}}</th>
                            <th class="text-center">{{translation.EntriesInTheLanguageFile}}</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="languageVersion in versionDetail.LanguageVersions">
                            <td>{{languageVersion.VersionNumber}}</td>
                            <td>{{languageVersion.NumberOf}}</td>
                            <td><button ng-click="removeVersion(languageVersion,'language',$index)" class="btn btn-danger">{{translation.Delete}}</button></td>
                        </tr>
                    </table>
                    <form name="langVer">
                        <div class="form-group">
                            <label for="imputLangVer">{{translation.Version}}</label>
                            <input required data-ng-model="langVersion" type="text" class="form-control myFormColor" id="imputLangVer" placeholder={{translation.IncreasingVersionDescription}}>
                        </div>
                        <div class="form-group">
                            <label for="imputLangFile">{{translation.EntriesInTheLanguageFile}}</label>
                            <input type="text" class="form-control myFormColor" id="imputLangFile" value={{versionDetail.CurrentVersionStateModel.NumberOfItemsInFileLanguage}} disabled>
                        </div>
                        <button ng-click="addVersion(langVersion,'language',versionDetail.CurrentVersionStateModel.NumberOfItemsInFileLanguage)" ng-disabled="langVer.$invalid || versionDetail.LanguageVersions[versionDetail.LanguageVersions.length -1].VersionNumber >= langVersion" type="submit" class="btn btn-primary">{{translation.AddVersion}}</button>
                    </form>
                </div>
            </div>
            <div style="border: solid black" class="margin5">
                <div class="margin20">
                    <h2>{{translation.IntegrationGameVersion}}</h2>
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th class="text-center">{{translation.Version}}</th>
                            <th class="text-center">{{translation.NumbersOfIntegrationGames}}</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="integrationGameVersion in versionDetail.IntegrationGameVersions">
                            <td>{{integrationGameVersion.VersionNumber}}</td>
                            <td>{{integrationGameVersion.NumberOf}}</td>
                            <td><button ng-click="removeVersion(integrationGameVersion,'integrationGame',$index)" class="btn btn-danger">{{translation.Delete}}</button></td>
                        </tr>
                    </table>
                    <form name="gamesVer">
                        <div class="form-group">
                            <label for="imputGamesVer">{{translation.Version}}</label>
                            <input data-ng-model="integrationGameVersion" required type="text" class="form-control myFormColor" id="imputGamesVer" placeholder={{translation.IncreasingVersionDescription}}>
                        </div>
                        <div class="form-group">
                            <label for="imputGamesNumbers">{{translation.NumbersOfIntegrationGames}}</label>
                            <input required class="form-control myFormColor" id="imputGamesNumbers" value="{{versionDetail.CurrentVersionStateModel.NumberOfIntegrationGames}}" disabled>
                        </div>
                        <button ng-click="addVersion(integrationGameVersion,'integrationGame',versionDetail.CurrentVersionStateModel.NumberOfIntegrationGames)" ng-disabled="gamesVer.$invalid || versionDetail.IntegrationGameVersions[versionDetail.IntegrationGameVersions.length -1].VersionNumber >= integrationGameVersion" type="submit" class="btn btn-primary">{{translation.AddVersion}}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 formAni">
        <div class="formAni" style="margin-top: 20px; margin-bottom: 20px" ng-hide="languageForVersion == null">
            <div style="border: solid black" class="margin5">
                <div class="margin20">
                    <h2>{{translation.JokeCategoryVersion}}</h2>
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th class="text-center">{{translation.Version}}</th>
                            <th class="text-center">{{translation.NumbersOfCategoriesJokes}}</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="jokeCategoryVersion in versionDetail.JokeCategoryVersions">
                            <td>{{jokeCategoryVersion.VersionNumber}}</td>
                            <td>{{jokeCategoryVersion.NumberOf}}</td>
                            <td><button ng-click="removeVersion(jokeCategoryVersion,'jokeCategory',$index)" class="btn btn-danger">{{translation.Delete}}</button></td>
                        </tr>
                    </table>
                    <form name="jokeCategoryVer">
                        <div class="form-group">
                            <label for="imputJokeCategoryVer">{{translation.Version}}</label>
                            <input data-ng-model="jokeCategoryVersion" required type="text" class="form-control myFormColor" id="imputJokeCategoryVer" placeholder={{translation.IncreasingVersionDescription}}>
                        </div>
                        <div class="form-group">
                            <label for="imputJokeCategoryNumbers">{{translation.NumbersOfCategoriesJokes}}</label>
                            <input required class="form-control myFormColor" id="imputJokeCategoryNumbers" value="{{versionDetail.CurrentVersionStateModel.NumberOfJokeCategory}}" disabled>
                        </div>
                        <button ng-click="addVersion(jokeCategoryVersion,'jokeCategory',versionDetail.CurrentVersionStateModel.NumberOfJokeCategory)" ng-disabled="jokeCategoryVer.$invalid || versionDetail.JokeCategoryVersions[versionDetail.JokeCategoryVersions.length -1].VersionNumber >= jokeCategoryVersion" type="submit" class="btn btn-primary">{{translation.AddVersion}}</button>
                    </form>
                </div>
            </div>
            <div style="border: solid black" class="margin5">
                <div class="margin20">
                    <h2>{{translation.JokeVersion}}</h2>
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th class="text-center">{{translation.Version}}</th>
                            <th class="text-center">{{translation.NumbersOfJokes}}</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="jokeVersion in versionDetail.JokeVersions">
                            <td>{{jokeVersion.VersionNumber}}</td>
                            <td>{{jokeVersion.NumberOf}}</td>
                            <td><button ng-click="removeVersion(jokeVersion,'joke',$index)" class="btn btn-danger">{{translation.Delete}}</button></td>
                        </tr>
                    </table>
                    <form name="jokeVer">
                        <div class="form-group">
                            <label for="imputJokeVer">{{translation.Version}}</label>
                            <input data-ng-model="jokeVersion" required type="text" class="form-control myFormColor" id="imputJokeVer" placeholder={{translation.IncreasingVersionDescription}}>
                        </div>
                        <div class="form-group">
                            <label for="imputJokeNumbers">{{translation.NumbersOfJokes}}</label>
                            <input required class="form-control myFormColor" id="imputJokeNumbers" value="{{versionDetail.CurrentVersionStateModel.NumberOfJokes}}" disabled>
                        </div>
                        <button ng-click="addVersion(jokeVersion,'joke',versionDetail.CurrentVersionStateModel.NumberOfJokes)" ng-disabled="jokeVer.$invalid || versionDetail.JokeVersions[versionDetail.JokeVersions.length -1].VersionNumber >= jokeVersion" type="submit" class="btn btn-primary">{{translation.AddVersion}}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 formAni">
        <div class="formAni" style="margin-top: 20px; margin-bottom: 20px" ng-hide="languageForVersion == null">
            <div style="border: solid black" class="margin5">
                <div class="margin20">
                    <h2>{{translation.GameFeatureVersion}}</h2>
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th class="text-center">{{translation.Version}}</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="gfv in versionDetail.GameFeatureVersions">
                            <td>{{gfv.VersionNumber}}</td>
                            <td><button ng-click="removeVersion(gfv,'gameFeature',$index)" class="btn btn-danger">{{translation.Delete}}</button></td>
                        </tr>
                    </table>
                    <form name="gameFeatureVer">
                        <div class="form-group">
                            <label for="gameFeatureVer">{{translation.Version}}</label>
                            <input data-ng-model="gameFeatureVersion" required type="text" class="form-control myFormColor" id="gameFeatureVer" placeholder={{translation.IncreasingVersionDescription}}>
                        </div>
                        <button ng-click="addVersion(gameFeatureVersion,'gameFeature',0)" ng-disabled="gameFeatureVer.$invalid || versionDetail.GameFeatureVersions[versionDetail.GameFeatureVersions.length -1].VersionNumber >= gameFeatureVersion" type="submit" class="btn btn-primary">{{translation.AddVersion}}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
