<div class="container">
    <div class="margin20">
        <h1 ng-hide="newLanguageOption == true">{{translation.ManagementLanguages}}</h1>
        <h2 ng-hide="newLanguageOption == false">{{translation.AddLanguage}}</h2>
        <a ng-click="newLanguageDialog()" style="text-decoration: none; color: crimson" href=""><span class="mif-undo mif-2x mif-ani-shuttle"></span>Zmień</a>
    </div>
    
    <!--EDIT LANGUAGE BASIC VALUE-->
    <div class="row">
        <div class="col-xs-10 col-sm-4 col-md-4 col-md-offset-4 col-xs-offset-1 col-sm-offset-4 formAni" ng-hide="newLanguageOption == true">
            <div class="form-group">
                <label>{{translation.Language}}</label>
                <select id="language" class="form-control myFormColor" required data-ng-model="selectedLanguageForEdit" data-ng-change="getLanguageContent(selectedLanguageForEdit);" data-ng-options="language.languageName for language in allLanguages">
                    <option value=''>{{translation.ChooseLanguage}}</option>
                </select>
            </div>

            <div class="formAni" style="margin-top: 20px; margin-bottom: 20px" ng-hide="languageForEdit == null || newLanguageOption == true">
                <form name="basicLanguageInformationEdit">
                    <div class="form-group">
                        <label>{{translation.LanguageName}}</label>
                        <input class="form-control myFormColor" required ng-model="languageForEdit.languageName" type="text">
                    </div>

                    <div class="form-group">
                        <label>{{translation.LanguageShortName}}</label>
                        <select class="form-control myFormColor" required ng-model="languageForEdit.languageShortName" data-ng-options="sl.code as sl.language for sl in supportedLanguages">
                            <option value=''>{{translation.ChooseLanguage}}</option>
                        </select>
                        <div class="margin10" style="text-align: left;font-weight: bold" >
                            <span style="color: crimson">{{translation.Warning}}</span>
                            {{translation.WrongLanguageCodeConfiguration}}
                            <div>
                                {{translation.CurrentlyUserService}}
                                <span style="color: #337ab7">{{translateServiceName}}</span>
                            </div>
                            <div>
                                {{translation.CodeForLanguage}}{{languageForEdit.languageName}} :
                                <span style="color: crimson">{{languageForEdit.languageShortName}}</span>    
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>{{translation.LanguageFlag}}</label>
                        <input class="form-control myFormColor" required ng-model="languageForEdit.languageFlag" type="text">
                    </div>
                    <!--SAVE LANGUAGE-->
                    <div class="form-group text-center">
                        <button ng-disabled="basicLanguageInformationEdit.$invalid" ng-click="editLanguage(languageForEdit)" class="btn btn-primary btn-success"><span class="mif-plus"> {{translation.Save}}</span></button>
                        <!--DELETE LANGUAGE-->
                        <button ng-click="deleteDialog()" class="btn btn-primary btn-danger"><span class="mif-minus"> {{translation.Delete}}</span></button>
                    </div>

                    <!--PUBLISH LANGUAGE-->
                    <div class="form-inline" style="text-align: left">
                        <label>{{translation.PublishLanguage}}</label>
                        <label class="input-control checkbox">
                            <input data-ng-model="languageForEdit.isPublic" ng-change="publishLanguage(languageForEdit)" type="checkbox">
                            <span data-ng-class="{true:'',false:'mif-ani-spanner'}[languageForEdit.isPublic]" class="check"></span>
                        </label>
                        <label data-ng-class="{true:'',false:'formAni'}[languageForEdit.isPublic]" ng-hide="languageForEdit.isPublic ==true">{{translation.HowToPublishLanguage}}</label>
                    </div>
                </form>
                <!--SEARCH-->
                <label style="margin-top: 40px">{{translation.Search}}</label>
                <div class="input-control text" data-role="input">
                    <input class="form-control myFormColor" type="text" ng-model="searchImput" uib-typeahead="sS for sS in searchSource | filter:$viewValue | limitTo:8">
                    <button style="background-color: transparent; color: white" class="myFormColor button helper-button clear"><span class="mif-cross"></span></button>
                </div>
            </div>
        </div>

        <!--NEW LANGUAGE BASIC VALUE-->
        <div class="col-xs-10 col-sm-4 col-md-4 col-md-offset-4 col-xs-offset-1 col-sm-offset-4 formAni" ng-hide="newLanguageOption == false">
            <div style="margin-top: 20px; margin-bottom: 20px">
                <form name="basicLanguageInformationNew">
                    <div class="form-group">
                        <label>{{translation.LanguageName}}</label>
                        <input class="form-control myFormColor" required ng-model="newLanguage.languageName" type="text">
                    </div>

                    <div class="form-group">
                        <label>{{translation.LanguageShortName}}</label>
                        <select class="form-control myFormColor" required ng-model="newLanguage.languageShortName" data-ng-options="sl.code as sl.language for sl in supportedLanguages">
                            <option value=''>{{translation.ChooseLanguage}}</option>
                        </select>
                        <div class="margin10" style="text-align: left;font-weight: bold">
                            <span style="color: crimson">{{translation.Warning}}</span>
                            {{translation.WrongLanguageCodeConfiguration}}
                            <div>
                                {{translation.CurrentlyUserService}}
                                <span style="color: #337ab7">{{translateServiceName}}</span>
                            </div>
                            <div>
                                {{translation.CodeForLanguage}}{{newLanguage.languageName}} :
                                <span style="color: crimson">{{newLanguage.languageShortName}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>{{translation.LanguageFlag}}</label>
                        <input class="form-control myFormColor" required ng-model="newLanguage.languageFlag" type="text">
                    </div>
                    <!--SAVE LANGUAGE-->
                    <div class="form-group text-center">
                        <button ng-disabled="basicLanguageInformationNew.$invalid" ng-click="addNewLanguage(newLanguage)" class="btn btn-primary btn-success"><span class="mif-plus"> {{translation.Save}}</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--LANGUAGES DICTIONARY FOR EDIT-->
    <div ng-hide="newLanguageOption == true">
        <div class="row myFormColorWithBorder" ng-repeat-start="slc in selectedLanguageContent | filter:searchImput | startFrom:currentPage*pageSize | limitTo:pageSize" ng-class-odd="'alt'" ng-class="{selectedTransparentWithBorder_hover : hover || activeLanguageKey == slc.key }" ng-mouseenter="hover=true" ng-mouseleave="hover=false">
            <div class="col-md-9 col-md-push-3">
                <div class="margin10">
                    <input type="text" class="form-control myFormColorImput" required ng-model="slc.value"/>
                </div>
            </div>
            <div class="col-md-3 col-md-pull-9" ng-click="setActiveLanguageKey(slc)">
                <div class="margin10">
                    <div style="-ms-word-break: break-all; word-break: break-all;">
                        <label class="text-primary"><span class="mif-key"> {{slc.key}}</span></label>
                    </div>
                </div>
            </div>
        </div>
        <!--key detail-->
        <!--tutaj wystepuje spory problem zwiazany ze zmiana stron (odpala sie zawsze ng-show co jest zle ...) sposob na to : ng-class="{true:'slide-toggle',false:''}[activeLanguageKey == slc.key]"
        ale również nei działa dobrze bo dradze ng-hide gdy robie select na inym obiekcie kurwa mac ...-->
        <!--musze tutaj wymyslic jakas blokade np zeby pokazal całość gdy ta bedzie juz gotowa ale nie za pomoca ng-show ...-->
        <div class="row slide-toggle" ng-repeat-end="" data-ng-hide="activeLanguageKey != slc.key" ng-class-odd="'alt'">
            <div class="col-md-9 col-md-push-3">
                <div class="margin10" ng-hide="languageForEdit.language.id == selectedLanguage">
                    <div class="block  margin10">
                        {{translation.MainLanguageTranslation}}
                    </div>
                    <!--HERE I TAKE TRANSLATION FOR MAIN LANGUAGE-->
                    <div class="block" style="font-weight: bold;">
                        {{translation[slc.key]}}
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-md-pull-9">
                <div class="margin10">
                    <!--TRANSLATE LANGUAGE KEY-->
                    <button class="btn btn-primary btn-block"><span class="mif-cloud-download mif-2x"> {{translation.Translate}}</span></button>
                    <!--SAVE LANGUAGE KEY-->
                    <button class="btn btn-default btn-block" ng-disabled="slc.value == null" ng-click="editLanguageKey(slc,languageForEdit)"><span class="mif-plus"> {{translation.Save}}</span></button>
                </div>
            </div>
        </div>
        <!--PAGER CONTROL-->
        <div class="text-center">
            <nav>
                <ul class="pager">
                    <li ng-hide="currentPage==0" ng-click="currentPage=currentPage-1;goToTop()"><a href="">{{translation.Previous}}</a></li>
                    <li ng-hide="numberOfPages() == 0">{{currentPage+1}}/{{numberOfPages()}}</li>
                    <li ng-hide="currentPage >= selectedLanguageContent.length/pageSize - 1;" ng-click="currentPage=currentPage+1;goToTop()"><a href="">{{translation.Next}}</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <!--DIALOG-->
    <div data-role="dialog" id="deleteDialog" class="text-center dialog alert" data-windows-style="true" data-close-button="true" data-type="alert">
        <h1 style="text-align: left">{{translation.RemovingLanguage}} {{languageForEdit.languageName}}</h1>
        <div class="text-center margin10">
            {{translation.RemovingLanguageDialog}}
        </div>
        <div>
            <button class="btn btn-warning" ng-click="deleteLanguage(languageForEdit)" ng-disabled="languageForEdit == ''"><span class="mif-minus"> {{translation.Delete}}</span></button>
        </div>
        <span class="dialog-close-button"></span>
    </div>
</div>

